.account-setup {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: $color-font-dark-800;
  margin-bottom: 250px;

  &--stepper-btns {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: none;

    & > button {
      background-color: white;
      color: $color-font-dark-700;
      font-weight: 400;
    }
    &--counter {
      text-align: center;
      font-size: 0.8rem;
      color: $color-font-dark-1000;
      width: 100%;
    }
  }
}
.account-signup-errormsg {
  height: 20px;
  width: 100%;
  margin-top: -5px !important;
  margin-left: 5px !important;
}

.hide--errormsg {
  opacity: 0;
}

.show--errormsg {
  opacity: 1;
}

.stepForm-container {
  background-color: $color-font-dark-500;
  width: clamp(250px, 90vw, 450px);
  height: 645px;
  margin-top: 20px;
  border-radius: 19px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--header {
    border-bottom: 3px solid white;
    padding-bottom: 25px;

    &--subheader {
      margin-top: 10px;
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
    }
    &--title {
      font-size: 1.5rem !important;
      font-family: "Inter", sans-serif;
      color: $color-font-dark-900;
    }
  }

  &--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--form {
    &--row {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--col {
      flex: 0.48;
    }
  }
}

@media (max-width: 776px) {
  .account-setup--horizontal-stepper {
    display: none;
  }
  .account-setup--stepper-btns {
    display: flex;
  }
}
@media (max-width: 400px) {
  .stepForm-container {
    margin-top: 280px;
    background-color: white;
    padding: 10px;
    width: 100vw;
    height: 100%;
    height: 645px;
    justify-content: space-evenly;
  }
}

// @media (max-height: 850px) {
//   .account-setup--stepper-btns {
//     display: none;
//   }
// }
