.footer {
  position: relative;
  background-color: $color-font-dark-1000;
  min-height: 250px;
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &--header {
    margin-bottom: 25px;
  }

  &--terms {
    border-top: 1px solid $color-font-dark-960;
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    font-size: 13px;
    color: $color-font-dark-800;
  }

  &--col1 {
    grid-area: col1;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;

    &--icons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 10px;

      &--icon {
        @extend .footer--links;
        margin-right: 20px !important;
      }
    }
  }

  &--col2 {
    min-width: 200px;
    margin-top: 10px;
    height: 100%;
    color: white;
    display: flex;

    align-items: center;
    flex-direction: column;

    & > nav > ul > li {
      @extend .footer--links;
    }
  }

  &--col3 {
    min-width: 200px;
    margin-top: 10px;
    grid-area: col3;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > nav > ul > li {
      @extend .footer--links;
    }
  }

  &--col4 {
    min-width: 200px;
    margin-top: 10px;
    grid-area: col4;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;

    flex-direction: column;

    & > nav > ul > li {
      @extend .footer--links;
    }
  }
}

.footer--links {
  font-size: 13px;
  margin: 5px 0px;
  cursor: pointer;
  list-style-type: none;
  color: $color-font-dark-800;
  transition: all 0.1s ease-in-out;
  &:hover {
    @extend .footer--links-hover;
  }
}

.footer--links-hover {
  color: white;
  transform: scale(1.05);
}

@media (max-width: 290px) {
  .footer--col1 {
    width: 100%;
  }
}

@media (max-width: 501px) {
  .footer--row {
    justify-content: left;
  }
  .footer--col2,
  .footer--col3,
  .footer--col4 {
    align-items: flex-start;
  }
}
