.sliderLoading {
  --items-per-screen: 5;
  height: 10vw;
  width: 100%;
  display: flex;
  margin-top: 80px;
  padding: 0 50px;
  position: relative;

  &--title {
    top: -60px;
    position: absolute;
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    background-color: $color-font-dark-980;
    height: 40px;
    width: 150px;
    border-radius: 10px;
  }

  &--card {
    margin: 0px 10px;
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    height: 100%;
    background-color: $color-font-dark-980;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.5s ease-in-out;
  }
}
.card {
  &1 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
  }
  &2 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    animation-delay: 0.1s;
  }
  &3 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
  }
  &4 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
  }
  &5 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
  }
  &6 {
    animation: loadingSlider 0.5s infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
  }
}
@keyframes loadingSlider {
  100% {
    background-color: $color-font-dark-910;
  }
}
